
.main{
  height: 1800px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  position:relative;
  z-index:0;
}

@keyframes logo{
  from{font-size:60px;}
  to{font-size:120px;}
}


.title{
  display:block;
  margin-top: 300px;
  position:relative;
}

.title h1{
  color: #0E76BC;
  font-size:120px;
  margin:5px 10px 5px 30px;
  text-align: center;
  animation-name: logo;
  animation-duration: 2s;
}

.title h3{
  font-size:25px;
  text-align:center;
  opacity:90%;
  color:black;
  margin-top: 20px;
}

.mission{
  position: relative;
  top: 250px;
}

.mission h3{
  opacity: 50%;
  text-align: center;
  color: #24ABE2;
  font-size:25px;
}

.mission h3:hover{
  opacity:100%;
}

.mission h1{
  text-align: center;
  color: black;
  font-size: 40px;
}

.projects{
  margin-top: 600px;
  position: relative;
}

.projects h1{
  text-align: center;
  font-size: 40px;
  color: black;
}

.projects li{
  text-align: center;
  display: block;
  color: #0E76BC;
  font-size: 30px;
  margin-top: 50px;
}

.follow h1{
  text-align: center;
  font-size: 40px;
  color: black;
  margin-top:100px;
}

.follow img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
