@media screen and (min-width: 1000px) {

html, body{
  font-family: "Comfortaa";
}

.header-logo{
  float: left;
  padding: 10px 30px;
}

.header li:hover{
  border-bottom: 2px solid #24ABE2;
}

.header a{
  float:left;
  display:block;
  color:black;
}


.header-link li{
  float: left;
  padding: 5px 60px;
  font-size: 20px;
  color:#24ABE2;
}

/* Dropdown Button */
.droplist{
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 20;
  margin-top: 29px;
  height: 270px;
  color:#24ABE2;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #24ABE2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 20;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-bottom: 2px solid #24ABE2;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}

  .footer-list{
    margin-top:7px;
    color: white;
    width:100vw;
  }
  
  .left-list{
    display:inline-block;
    width:30vw;
    float:left;
    font-size:1.5em !important;
    margin-left:20vw;
    margin-top:5vh;
    padding-left:1vw;
    border-left:3px solid #0E76BC;
  }
  
  .left-list p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  
  .right-list{
    text-align:center;
    display:inline-block;
    width:30vw;
    padding-left:5vw;
    padding-top:5vh;
    font-size: 1.6em !important;
  }
  
  .fab{
    padding: 10px;
    font-size: 40px !important;
    height:50px;
    width: 50px;
    text-decoration: none;
    text-align: center;
  }

.fas{
  padding: 10px;
  font-size: 40px !important;
  height:50px;
  width: 50px;
  text-decoration: none;
  text-align: center;
}
 
}


@media screen and (max-width: 1000px) {
html, body{
  font-family: Nunito;
}

.header{
  text-align:center;
}
  
.header-logo{
  display:block;
  text-align:center;
  padding: 10px 30px;
  margin:auto;
}

.header li{
  display:none;
}
  
.header-link{
 display:none;
}

.footer-list{
  display:block;
  font-size: 25px;
  color: #ccfbff;
  padding-top: -5px;
  text-align:center;
  position:relative;
  top:50px;
}

.footer-list p{
  margin:auto;
  padding: 1px;
  font-size:26px;
  text-align:center;
}

.fab{
  padding: 5px;
  font-size: 30px !important;
  height:40px;
  width: 40px;
  text-decoration: none;
  text-align: center;
}

.fas{
  padding: 5px;
  font-size: 30px !important;
  height:40px;
  width: 40px;
  text-decoration: none;
  text-align: center;
}

  
  .footer-list{
    margin-top:7px;
    color: white;
    width:100vw;
  }
  
  .left-list{
    display:inline-block;
    font-size:1.5em !important;
    margin-top:5vh;
    text-align:center;
  }
  
  .left-list p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  
  .right-list{
    text-align:center;
    display:inline-block;
    padding-top:5vh;
    font-size: 1.6em !important;
  }
  
}



/* CSS for default design */
html { scroll-behavior: smooth; } 

html, body{
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  z-index:-10;
}

li{
  list-style:none;
}

/* Settings of a tag for whole page*/
a:link {
  text-decoration: none;
  cursor: pointer;
}

a:visited {

  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  text-decoration: none;
  cursor: pointer;
}

.header {
  border-bottom:2px solid #0E76BC;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 90%;
  margin: 0px 0px 0px 0px;
  z-index:10;
}

.header-logo{
  width: 300px;
  height: auto;
}
  

.footer{
  height: 310px;
  background-color: #041f31 !important;
  z-index:20 !important;
}

.footer p{
  color:white !important;
}

.fab:hover {
  opacity: 0.7;
  color:white;
}

.fas:hover {
  opacity: 0.7;
  color:white;
}

.fa-angle-up{
  font-size:38px !important;
  position:relative;
  top:5px;
  color:white;
}

.fa-facebook{
  color: #3b5998 !important;
  padding-left: 10px;
}

.fa-instagram{
  color: transparent !important;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) ;
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-twitter{
  color: #1da1f2 !important;
}

.fa-envelope{
  color:white !Important;
}

.fa-youtube{
  color: #FF0000 !important;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  color: white;
}

.footer a:hover {
  color: white;
}

.footer a:active {
  color: white;
}

