@media screen and (min-width: 1000px) {
html { scroll-behavior: smooth; } 
  
html, body{
  font-family: "Comfortaa";
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

/* Settings of a tag for whole page*/
a:link {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  cursor: pointer;
}

.header {
  border-bottom:2px solid #0E76BC;
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 90%;
  margin: 0px 0px 0px 0px;
  z-index:10;
}

.header-logo{
  float: left;
  padding: 10px 30px;
  width: 300px;
  length: 33px;
}

li{
  list-style: none;
}

.header li:hover{
  border-bottom: 2px solid #24ABE2;
}

.header a{
  float:left;
  display:inline-block;
  color:black;
}


.header-link li{
  float: left;
  padding: 5px 60px;
  font-size: 20px;
  color:#24ABE2;
}

/* Dropdown Button */
.droplist{
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 20;
  margin-top: 29px;
  height: 210px;
  color:#24ABE2;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #24ABE2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-bottom: 2px solid #24ABE2;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}


.footer{
  height: 330px;
  background-color: black;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.footer-logo{
  float: left;
  padding: 15px 20px;
  width: 300px;
  length: 90px;
  margin-left: 30px;
  margin-top: 20px;
}

.footer-list{
  margin-top:10px;
  font-size: 20px;
  color: #ccfbff;
  float: right;
  padding: 2px 8px;
  margin-right: 40px;
}

.footer-list li{
  padding: 10px;
}

.footer a:link {
  color: #ccfbff;
}

.footer a:visited {
  color: #ccfbff;
}

.footer a:hover {
  color: #ccfbff;
}

.footer a:active {
  color: #ccfbff;
}

}

@media screen and (max-width: 1000px) {
html { scroll-behavior: smooth; } 
html, body{
  font-family: "Comfortaa";
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

/* Settings of a tag for whole page*/
a:link {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  cursor: pointer;
}

.header {
  background-color: white;
  height: 60px;
  border-bottom:3px solid #0E76BC;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 90%;
  margin: 0px 0px 0px 0px;
  z-index:10;
}

.header-logo{
  float: left;
  margin-left:20px;
  padding: 10px 30px;
  width: 300px;
  length: 33px;
}

li{
  list-style: none;
}

.header li{
  display:none;
}
  
  .header-link{
    display:none;
  }



.footer{
  height: auto;
  background-color: black;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.footer-logo{
  padding: 15px 10px;
  width: 300px;
  length: 90px;
  margin:auto;
  text-align:center;
}


.footer-logo img{
  width: 300px;
  length: 90px;
  margin:auto;
  text-align:center;
}

.footer-list{
  display:block;
  margin:auto;
  font-size: 20px;
  color: #ccfbff;
  padding: 2px 8px;
  text-align:center;
}


.footer-list li{
  margin:auto;
  padding: 5px;
  font-size:20px;
  text-align:center;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  color: white;
}

.footer a:hover {
  color: white;
}

.footer a:active {
  color: white;
}


}
